<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>GreenLight</title>

    <!--jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Alike+Angular|Asul|Eczar" rel="stylesheet">

</head>
<body>

     <h1>GreenLight</h1>
        <p>Does your crush like you? Upload a txt file and see!</p>
        <a href="/results"><button>Upload</button></a>

        <div class="file-upload">
                  <form method=post enctype=multipart/form-data>

                  <input type="file" name=file>
                  <input type="submit" value="UPLOAD" class="btn draw-border">
                </form>
        </div>
</body>

</html>